body {
	padding-top: 52px;
	background: url('../gfx/bg.png');
}

/**
 * Extend .span
 */
.span-side {
	width: 320px;
}
.span-body {
	width: 620px;
}

.tile {
  box-shadow: 1px 1px 8px #555;
  background-color: #FFF;
  float: left;
  min-height: 60px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.tile:hover {
	box-shadow: 1px 1px 10px #333;
	margin-left: 8px;
	margin-right: 2px;
}
.tile-orange {
	background-color: #FF6600;
	color: #FFF;
}
.tile-grey {
	background-color: #33CCCC;
	color: #000;
}
.tile-orange a {
	color: #333;
}

.tile-min {
  width: 65px;
  min-height: 65px;
}
.tile-sml {
  width: 140px;
  min-height: 140px;
}

.tile-mid {
  width: 290px;
  min-height: 140px;
}

.tile-lrg {
  width: 590px;
  min-height: 140px;
}

.tile > section {
  padding: 8px;
}
