body {
	padding-top: 52px;
	background: url('bg.png');
}

/**
 * Extend .span
 */
.span-side {
	width: 320px;
}
.span-body {
	width: 620px;
}

.tail {
  box-shadow: 1px 1px 8px #555;
  background-color: #FFF;
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-bottom: 10px;

}
.tail-min {
  width: 65px;
  min-height: 65px;
}
.tail-sml {
  width: 140px;
  min-height: 140px;
}

.tail-mid {
  width: 290px;
  min-height: 140px;
}

.tail > section {
  padding: 8px;
}


