

@import "bootstrap-2.2/reset.less";

// Core variables and mixins
@import "bootstrap-2.2/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "variables.less";
@import "bootstrap-2.2/mixins.less";

// Grid system and page structure
@import "bootstrap-2.2/type.less";

section {
	margin: 20px auto;
}
.content--small {
	width: 400px;
}
.groszek {
	background-image: url(/images/groszek01.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	height: 400px;
}
.groszek--preview {
	height: 100px;
	box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
}

@import "bootstrap-2.2/utilities.less";
