body {
	padding-top: 10px;
	background: url('../gfx/bg2.png') repeat-x top left;
}

.posts-list {
	.post-date {
		color: #999;
	}
	h3 {
		margin-top: 0px;
	}
	li {
		border-bottom: 1px #eee solid;
		margin-bottom: 20px;
	}
}


/**
 * Extend .span
 */
.span-side {
	width: 320px;
}
.span-body {
	width: 600px;
}

.article {
	background-color: #FFF;
	padding: 0px;
}

.breadcrumb {
	margin: 0px;
	background-color: transparent;
}

.tile .caption {
	margin-top: 90px;
	min-height: 30px;
	background: white;
	padding: 4px 10px;
	p {
		margin-bottom: 0px;
	}
}


.tile {
  box-shadow: 1px 1px 8px #555;
  background-color: #FFF;
  float: left;
  min-height: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.tile:hover {
	box-shadow: 1px 1px 10px #333;
	margin-left: 2px;
	margin-right: 8px;
}
.tile-orange {
	background-color: #FF6600;
	color: #FFF;
}
.tile-grey {
	background-color: #33CCCC;
	color: #000;
}
.tile-orange a {
	color: #333;
}

.tile-min {
  width: 65px;
  min-height: 65px;
}
.tile-sml {
  width: 140px;
  min-height: 140px;
}

.tile-mid {
  width: 290px;
  min-height: 140px;
}

.tile-lrg {
  width: 590px;
  min-height: 140px;
}

.tile > section {
  padding: 8px;
}
