body {
	padding-top: 10px;
	background: url('../gfx/bg2.png') repeat-x top left;
}

.posts-list {
	.post-date {
		color: #999;
	}
	h3 {
		margin-top: 0px;
	}
	li {
		border-bottom: 1px #eee solid;
		margin-bottom: 20px;
	}
}


/**
 * Extend .span
 */
.span-side {
	width: 320px;
}
.span-body {
	width: 600px;
}

.article {
	background-color: #FFF;
	padding: 0px;
}

.breadcrumb {
	margin: 0px;
	background-color: transparent;
}

.tile .caption {
	min-height: 20px;
	background: white;
	padding: 4px 10px;
	p {
		margin-bottom: 0px;
	}
}



.tile .tile-orange {
	background-color: #FF6600;
	color: #FFF;
}
.tile .tile-grey {
	background-color: #33CCCC;
	color: #000;
}
.tile .tile-orange a {
	color: #333;
}

.tile > section {
  padding: 8px;
}

// Images
// -------------------------
.img-shadow {
  .box-shadow(0 0 6px rgba(0,0,0,.5));
}

// Page footer
// -------------------------

.page-footer {
	padding-top: (@baseLineHeight / 2) - 1;
	margin: @baseLineHeight 0 (@baseLineHeight * 3);
	border-top: 1px solid @grayLighter;
}